@import "mixins";

@import url('https://fonts.googleapis.com/css?family=Nunito&display=swap');

:root {
    font-size: 16px;
}

* {
    font-family: "Nunito", sans-serif;
}

body, .background {
    background: $background;
}

.main-title {
    font-size: 4rem;
    text-align: center;
}

.option-button {
    background: $blue;
    border: none;
    border-radius: 25px;
    color: $white;
    cursor: pointer;
    font-size: 1.2rem;
    height: 50px;
    line-height: 50px;
    margin: 0 10px;
    min-width: 50px;
    text-align: center;
    width: 50px;

    &:hover {
        background: $blue-hover;
    }

    &:focus {
        outline: none;
    }

    &.option-button--large-font {
        font-size: 1.5rem;
    }
}
