@import "partials/main";

.landing-page-center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
}

.landing-form {
    align-items: center;
    display: flex;
    justify-content: center;

    .landing-form__input {
        border: 1px solid $blue;
        border-radius: 10px 0 0 10px;
        box-sizing: border-box;
        font-size: 1.5rem;
        height: 70px;
        padding-left: 10px;
        width: 900px;

        &:focus {
            box-shadow: 0 0 10px $blue;
            outline: none;

            & + .landing-form__submit {
                box-shadow: 0 0 10px $blue;
            }
        }
    }

    .landing-form__submit {
        background: #3F8AEC;
        border-radius: 0 10px 10px 0;
        border: none;
        color: $white;
        cursor: pointer;
        font-size: 1.5rem;
        height: 70px;
        width: 250px;
    }
}
