@import "partials/main";

.options-bar {
    align-items: center;
    background: $white;
    box-shadow: 0 3px 5px rgba(black, .5);
    box-sizing: border-box;
    display: flex;
    height: 70px;
    justify-content: space-between;
    padding: 0 10px;
    width: 100%;

    .options-bar__form {
        align-items: center;
        display: flex;
        justify-content: center;

        .options-bar__form__input {
            background: $background;
            border: none;
            border-radius: 10px 0 0 10px;
            box-sizing: border-box;
            font-size: 1.2rem;
            height: 50px;
            padding-left: 10px;
            max-width: 300px;
            width: 150%;

            &:hover, &:focus {
                background: #d1d1d1;
                outline: none;
            }
        }

        .options-bar__form__submit {
            background: #3F8AEC;
            border-radius: 0 10px 10px 0;
            border: none;
            color: $white;
            cursor: pointer;
            font-size: 1.2rem;
            height: 50px;
            width: 150px;

            &:hover {
                background: $blue-hover;
            }
        }
    }


    .options-bar__title {
        & > h1 {
            font-weight: 500 !important;
        }
    }

    .options-bar__options {
        align-items: center;
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        font-weight: bold;
        width: fit-content;
    }
}
