@import "partials/main";

.slides {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    overflow: auto;
    width: 100%;

    .slides__frame{
        align-items: center;
        display: flex;
        height: 0;
        justify-content: space-between;
        flex-grow: 1;
        width: 100%;
    }

    .slides__bullets {
        align-items: center;
        display: flex;
        justify-content: center;

        .slides__bullets__bullet {
            background: $bullet;
            border-radius: 25px;
            cursor: pointer;
            height: 30px;
            margin: 20px 10px;
            width: 30px;

            &:hover {
                background: #909090;
            }

            &.slides__bullets__bullet--active {
                background: $blue;
            }
        }
    }
}
